# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
DesignFiles/2560_TrainingKit/History/
DesignFiles/2560_TrainingKit/_Previews



# Other files and folders
.settings/
.metadata/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
